* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  /* Background Colors */
  --bg-primary-color: #0c0c0c;
  --bg-fill-color:#e6e6e6;
  --bg-food-color:rgb(0, 227, 0);

  /* Text Color */
  --text-primary-color: #f0f0f0;

  /* Spacing variables */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;

  /* Boarder Color */
  --border-primary-color: #3a3a3a;

  /* Boarder Radius */
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 16px;
  --border-radius-lg: 24px;
  --border-radius-xl: 32px;
  --border-radius-2xl: 40px;
  --border-radius-3xl: 48px;
}

html {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main,
section {
  width: 100%;
  height: 100vh;
}

section {
  padding: var(--space-2xl);
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: var(--space-xl);

}

section .infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info {
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--border-primary-color);
  border-radius: var(--border-radius-sm);
}

.board {
  border: 1px solid var(--border-primary-color);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
}

.block{
    border: 1px solid var(--border-primary-color);
}


.fill{
  background-color: var(--bg-fill-color);
}

.food{
  background-color: var(--bg-food-color);
}